[package]
name = "montrs"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
description = "The main entry point for the MontRS framework."

[dependencies]
montrs-core = { path = "../core", version = "0.1.0" }
montrs-orm = { path = "../orm", version = "0.1.0", optional = true }
montrs-schema = { path = "../schema", version = "0.1.0", optional = true }
montrs-test = { path = "../test", version = "0.1.0", optional = true }
montrs-cli = { path = "../cli", version = "0.1.0", optional = true }

[[bin]]
name = "montrs"
path = "src/bin/main.rs"
required-features = ["cli"]

[[bin]]
name = "cargo-montrs"
path = "src/bin/main.rs"
required-features = ["cli"]

[features]
default = ["full"]

# Enable the entire framework including the CLI
full = ["orm", "schema", "test", "cli"]

# Basic package activation
orm = ["dep:montrs-orm"]
schema = ["dep:montrs-schema"]
test = ["dep:montrs-test"]
cli = ["dep:montrs-cli"]

# --- Forwarded Features ---

# Forwarding 'sqlite' to 'montrs-orm/sqlite'
# Note: This also ensures the 'orm' package itself is enabled
sqlite = ["orm", "montrs-orm/sqlite"]

# Forwarding 'postgres' to 'montrs-orm/postgres'
postgres = ["orm", "montrs-orm/postgres"]

# Forwarding 'e2e' to 'montrs-test/e2e'
e2e = ["test", "montrs-test/e2e"]
